In [49]:
import pandas as pd
# import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 15
matplotlib.rcParams['axes.unicode_minus'] = False   # 한글 폰트 사용 시, 마이너스 깨지는 현상 해결

In [ ]:
import matplotlib.font_manager as fm
fm.fontManager.ttflist
[f.name for f in fm.fontManager.ttflist]

In [2]:
df = pd.read_excel('apt_list.xlsx')
df

,단지명,동,거래 타입,매물 특징,해당층/총층,방향,중개사,방수,욕실수,월관리비,...,세대당 평균 주차대수,해당면적 세대수,건축물용도,현관구조,보증금/전세금(원),월세(원),매매가(원),공급면적(m*2),전용면적(m*2),전용률
0,개포래미안포레스트,126동,매매,31.갭투자.최상커뮤니티.채광좋은트인뷰,8/25,남동향,단지내 삼성공인중개사사무소,3,2.0,200000.0,...,1.72,226.0,공동주택,계단식,0.000000e+00,0.0,2.200000e+09,101.09,74.66,74.0
1,개포래미안포레스트,130동,월세,26 구룡산조망 빠른입주가능 동간거리넓고 조용한동 신혼부부추천,12/19,남동향,개포나무공인중개사사무소,3,2.0,200000.0,...,1.72,598.0,공동주택,계단식,5.000000e+08,1600000.0,0.000000e+00,86.05,59.92,70.0
2,개포래미안포레스트,104동,매매,NaN,17/33,남동향,현대조은집공인중개사사무소,3,2.0,200000.0,...,1.72,266.0,공동주택,계단식,0.000000e+00,0.0,2.490000e+09,115.37,84.83,74.0
3,개포래미안포레스트,115동,월세,34. 조중식서비스 달터근린공원 풀에어컨 최고급커뮤니티,31/35,남향,개포 The H (단지내) 공인중개사사무소,3,2.0,300000.0,...,1.72,266.0,NaN,계단식,4.000000e+08,3000000.0,0.000000e+00,115.37,84.83,74.0
4,개포래미안포레스트,106동,월세,35.호텔식조중식O최상커뮤니티O구룡초배정O융자무,11/14,남동향,단지내 삼성공인중개사사무소,3,2.0,250000.0,...,1.72,348.0,공동주택,계단식,7.000000e+08,2000000.0,0.000000e+00,115.41,84.86,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,현대3차,5동,매매,32 뷰티풀뷰 지분대 올수리 갭투자 주차양호 우수초중고인근 초역세권,고/9,남향,그린공인중개사사무소,3,1.0,290000.0,...,0.50,54.0,공동주택,계단식,0.000000e+00,0.0,2.800000e+09,105.86,84.87,80.0
2000,현대3차,2동,전세,59추천. 주인직접. 거실확장. 특올수리된집,고/9,남향,강남하늘부동산공인중개사사무소,5,2.0,400000.0,...,0.50,107.0,공동주택,계단식,1.700000e+09,0.0,0.000000e+00,193.76,163.85,85.0
2001,현대3차,3동,매매,59 양재천뷰 사방녹지 지분36 집주인전세도가능 구룡역5분,고/9,남향,그린공인중개사사무소,5,2.0,490000.0,...,0.50,107.0,공동주택,계단식,0.000000e+00,0.0,4.000000e+09,193.76,163.85,85.0
2002,현대3차,5동,매매,대지 지분 최고 19.41p I 갭투자O I 양재천 연결된 특급입지,5/9,남향,경남공인중개사사무소,3,1.0,250000.0,...,0.50,54.0,공동주택,계단식,0.000000e+00,0.0,2.400000e+09,105.86,84.87,80.0
2003,현대3차,5동,전세,"도배까지 깨끗, 분당선 구룡역 인접,양재천변 산책로,구룡산 뷰",4/9,남향,중앙공인중개사사무소,3,1.0,0.0,...,0.50,54.0,NaN,복합식,7.000000e+08,0.0,0.000000e+00,105.86,84.87,80.0

In [3]:
df.describe()

,욕실수,월관리비,총주차대수,세대당 평균 주차대수,해당면적 세대수,보증금/전세금(원),월세(원),매매가(원),공급면적(m*2),전용면적(m*2),전용률
count,1926.000000,1926.000000,1926.000000,1926.000000,1926.000000,1.926000e+03,1.926000e+03,1.926000e+03,1926.000000,1926.000000,1926.000000
mean,1.953790,207519.382139,4516.334372,1.690275,303.014538,8.630114e+08,1.041303e+06,5.933333e+08,121.035659,91.939543,75.496366
std,0.283656,142529.930940,1613.655501,0.211607,350.990343,6.871434e+08,1.796338e+06,1.303211e+09,30.157352,25.705029,3.229529
min,1.000000,0.000000,38.000000,0.500000,2.000000,0.000000e+00,0.000000e+00,0.000000e+00,59.860000,39.940000,67.000000
25%,2.000000,0.000000,3961.000000,1.720000,87.000000,2.000000e+08,0.000000e+00,0.000000e+00,102.580000,78.320000,74.000000
50%,2.000000,250000.000000,3961.000000,1.720000,161.000000,8.500000e+08,0.000000e+00,0.000000e+00,115.370000,84.860000,75.000000
75%,2.000000,300000.000000,5881.000000,1.740000,348.000000,1.300000e+09,1.800000e+06,0.000000e+00,136.790000,102.760000,77.000000
max,4.000000,700000.000000,5881.000000,2.360000,1294.000000,3.000000e+09,9.200000e+06,8.500000e+09,243.780000,216.790000,90.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   단지명          1926 non-null   object
 1   동            1926 non-null   object
 2   거래 타입        1926 non-null   object
 3   매물 특징        1836 non-null   object
 4   해당층/총층       1926 non-null   object
 5   방향           1926 non-null   object
 6   중개사          1926 non-null   object
 7   방수           1926 non-null   object
 8   욕실수          1926 non-null   float64
 9   월관리비         1926 non-null   float64
 10  관리비포함        1165 non-null   object
 11  난방           1926 non-null   object
 12  방식/연료        1926 non-null   object
 13  입주가능일        1926 non-null   object
 14  입주일 협의여부     1294 non-null   object
 15  총주차대수        1926 non-null   float64
 16  세대당 평균 주차대수  1926 non-null   float64
 17  해당면적 세대수     1926 non-null   float64
 18  건축물용도        1092 non-null   object
 19  현관구조         1740 non-null   object
 20  보증금/전세금(원)   1926 non-null   float64
 21  월세(원)        1926 non-null   float64
 22  매매가(원)       1926 non-null   float64
 23  공급면적(m*2)    1926 non-null   float64
 24  전용면적(m*2)    1926 non-null   float64
 25  전용률          1926 non-null   float64
dtypes: float64(11), object(15)
memory usage: 407.2+ KB

In [82]:
pd.options.display.float_format = '{:.2f}'.format

In [84]:
# 가독성을 높히기 위해 만원 단위로 나누기
df['월관리비'] = df['월관리비'] / 10000
df['보증금/전세금(원)'] = df['보증금/전세금(원)'] / 10000
df['월세(원)'] = df['월세(원)'] / 10000
df['매매가(원)'] = df['매매가(원)'] / 10000

# 칼럼명에 (만원) 단위 표시를 위해 칼럼명 수정
df.rename(columns={'월관리비':'월관리비(만원)'}, inplace=True)
df.rename(columns={'보증금/전세금(원)':'보증금/전세금(만원)'}, inplace=True)
df.rename(columns={'월세(원)':'월세(만원)'}, inplace=True)
df.rename(columns={'매매가(원)':'매매가(만원)'}, inplace=True)
df

,단지명,동,거래 타입,매물 특징,해당층/총층,방향,중개사,방수,욕실수,월관리비(만원),...,세대당 평균 주차대수,해당면적 세대수,건축물용도,현관구조,보증금/전세금(만원),월세(만원),매매가(만원),공급면적(m*2),전용면적(m*2),전용률
0,개포래미안포레스트,126동,매매,31.갭투자.최상커뮤니티.채광좋은트인뷰,8/25,남동향,단지내 삼성공인중개사사무소,3,2.00,20.00,...,1.72,226.00,공동주택,계단식,0.00,0.00,220000.00,101.09,74.66,74.00
1,개포래미안포레스트,130동,월세,26 구룡산조망 빠른입주가능 동간거리넓고 조용한동 신혼부부추천,12/19,남동향,개포나무공인중개사사무소,3,2.00,20.00,...,1.72,598.00,공동주택,계단식,50000.00,160.00,0.00,86.05,59.92,70.00
2,개포래미안포레스트,104동,매매,NaN,17/33,남동향,현대조은집공인중개사사무소,3,2.00,20.00,...,1.72,266.00,공동주택,계단식,0.00,0.00,249000.00,115.37,84.83,74.00
3,개포래미안포레스트,115동,월세,34. 조중식서비스 달터근린공원 풀에어컨 최고급커뮤니티,31/35,남향,개포 The H (단지내) 공인중개사사무소,3,2.00,30.00,...,1.72,266.00,NaN,계단식,40000.00,300.00,0.00,115.37,84.83,74.00
4,개포래미안포레스트,106동,월세,35.호텔식조중식O최상커뮤니티O구룡초배정O융자무,11/14,남동향,단지내 삼성공인중개사사무소,3,2.00,25.00,...,1.72,348.00,공동주택,계단식,70000.00,200.00,0.00,115.41,84.86,74.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,현대3차,5동,매매,32 뷰티풀뷰 지분대 올수리 갭투자 주차양호 우수초중고인근 초역세권,고/9,남향,그린공인중개사사무소,3,1.00,29.00,...,0.50,54.00,공동주택,계단식,0.00,0.00,280000.00,105.86,84.87,80.00
2000,현대3차,2동,전세,59추천. 주인직접. 거실확장. 특올수리된집,고/9,남향,강남하늘부동산공인중개사사무소,5,2.00,40.00,...,0.50,107.00,공동주택,계단식,170000.00,0.00,0.00,193.76,163.85,85.00
2001,현대3차,3동,매매,59 양재천뷰 사방녹지 지분36 집주인전세도가능 구룡역5분,고/9,남향,그린공인중개사사무소,5,2.00,49.00,...,0.50,107.00,공동주택,계단식,0.00,0.00,400000.00,193.76,163.85,85.00
2002,현대3차,5동,매매,대지 지분 최고 19.41p I 갭투자O I 양재천 연결된 특급입지,5/9,남향,경남공인중개사사무소,3,1.00,25.00,...,0.50,54.00,공동주택,계단식,0.00,0.00,240000.00,105.86,84.87,80.00
2003,현대3차,5동,전세,"도배까지 깨끗, 분당선 구룡역 인접,양재천변 산책로,구룡산 뷰",4/9,남향,중앙공인중개사사무소,3,1.00,0.00,...,0.50,54.00,NaN,복합식,70000.00,0.00,0.00,105.86,84.87,80.00

In [85]:
pd.options.display.float_format = '{:.1f}'.format

### 개포동 내에서 가장 매물이 많은 아파트 단지 개포래미안포레스트와 개포자이프레지던스의 전세가율/갭
- 개포래미안포레스트
    - 평균 전세가율 (평균 전세가 / 평균 매매가 * 100%)
        - 12억 5544만원 / 26억 3012만원 * 100% = 47.73%
    - 갭
        - 26억 3012만원 - 12억 5544만원 = 13억7468만원

- 개포자이프레지던스
    - 평균 전세가율
        - 15억9023만원 / 55억1741만원 * 100% = 28.82%
    - 갭
        - 55억1741만원 - 15억9023만원 = 39억2718만원

In [86]:
sample = df[['단지명', '거래 타입','보증금/전세금(만원)','매매가(만원)']]
sample

            단지명 거래 타입  보증금/전세금(만원)  매매가(만원)
0     개포래미안포레스트    매매          0.0 220000.0
1     개포래미안포레스트    월세      50000.0      0.0
2     개포래미안포레스트    매매          0.0 249000.0
3     개포래미안포레스트    월세      40000.0      0.0
4     개포래미안포레스트    월세      70000.0      0.0
...         ...   ...          ...      ...
1999       현대3차    매매          0.0 280000.0
2000       현대3차    전세     170000.0      0.0
2001       현대3차    매매          0.0 400000.0
2002       현대3차    매매          0.0 240000.0
2003       현대3차    전세      70000.0      0.0

[2004 rows x 4 columns]

In [87]:
sample.loc[(sample['거래 타입'] == '전세')].loc[(sample['단지명'] == '개포래미안포레스트')].describe()

       보증금/전세금(만원)  매매가(만원)
count        301.0    301.0
mean      125544.9      0.0
std        25351.8      0.0
min        80000.0      0.0
25%       110000.0      0.0
50%       120000.0      0.0
75%       145000.0      0.0
max       280000.0      0.0

In [88]:
sample.loc[(sample['거래 타입'] == '매매')].loc[(sample['단지명'] == '개포래미안포레스트')].describe()

       보증금/전세금(만원)  매매가(만원)
count        308.0    308.0
mean           0.0 263013.0
std            0.0  75104.5
min            0.0 150000.0
25%            0.0 220000.0
50%            0.0 250000.0
75%            0.0 332500.0
max            0.0 440000.0

###

In [89]:
sample.loc[(sample['거래 타입'] == '전세')].loc[(sample['단지명'] == '개포자이프레지던스')].describe()

       보증금/전세금(만원)  매매가(만원)
count        475.0    475.0
mean      159023.2      0.0
std        55624.6      0.0
min        56000.0      0.0
25%       114000.0      0.0
50%       165000.0      0.0
75%       190000.0      0.0
max       300000.0      0.0

In [90]:
sample.loc[(sample['거래 타입'] == '매매')].loc[(sample['단지명'] == '개포자이프레지던스')].describe()

       보증금/전세금(만원)  매매가(만원)
count         31.0     31.0
mean           0.0 551741.9
std            0.0 252392.0
min            0.0 200000.0
25%            0.0 400000.0
50%            0.0 400000.0
75%            0.0 750000.0
max            0.0 850000.0

In [91]:
sample2 = df[['거래 타입','보증금/전세금(만원)', '월세(만원)', '매매가(만원)']]
sample2

     거래 타입  보증금/전세금(만원)  월세(만원)  매매가(만원)
0       매매          0.0     0.0 220000.0
1       월세      50000.0   160.0      0.0
2       매매          0.0     0.0 249000.0
3       월세      40000.0   300.0      0.0
4       월세      70000.0   200.0      0.0
...    ...          ...     ...      ...
1999    매매          0.0     0.0 280000.0
2000    전세     170000.0     0.0      0.0
2001    매매          0.0     0.0 400000.0
2002    매매          0.0     0.0 240000.0
2003    전세      70000.0     0.0      0.0

[2004 rows x 4 columns]

In [79]:
sample2.loc[(sample2['거래 타입'] == '매매')].describe()

       보증금/전세금(만원)  월세(만원)  매매가(만원)
count        396.0   396.0    396.0
mean           0.0     0.0 288575.8
std            0.0     0.0 128245.1
min            0.0     0.0 124000.0
25%            0.0     0.0 220000.0
50%            0.0     0.0 250000.0
75%            0.0     0.0 350000.0
max            0.0     0.0 850000.0

In [92]:
sample2.loc[(sample2['거래 타입'] == '전세')].describe()

       보증금/전세금(만원)  월세(만원)  매매가(만원)
count        882.0   882.0    882.0
mean      139391.2     0.0      0.0
std        50594.4     0.0      0.0
min        56000.0     0.0      0.0
25%       105750.0     0.0      0.0
50%       125000.0     0.0      0.0
75%       170000.0     0.0      0.0
max       300000.0     0.0      0.0

In [81]:
sample2.loc[(sample2['거래 타입'] == '월세')].describe()

       보증금/전세금(만원)  월세(만원)  매매가(만원)
count        645.0   645.0    645.0
mean       67009.3   309.1      0.0
std        42139.4   180.1      0.0
min         8000.0    40.0      0.0
25%        30000.0   180.0      0.0
50%        60000.0   270.0      0.0
75%       100000.0   400.0      0.0
max       200000.0   920.0      0.0